---
title: Home | Botany Brights
---

{% include quote.html %}

<h1 class="main-title">Botany Brights</h1>

<section class="blog-cards">
  <h2 class="blog-cards__title">Botanical Art tutorials</h2>

  {% include blog-card.html %}
  {% include blog-card.html %}
  {% include blog-card.html %}
  {% include blog-card.html %}

  <a href="#">See all posts</a>

</section>

{% include instagram-reel.html %}


{% include sidebar.html %}

{% include footer.html %}
