<article class="blog-card">
  <img class="blog-card__feature-image" src="#" alt="">
  <h3 class="blog-card__title">The Start of Botany Brights: Day 1</h3>
  <a href="#" class="blog-card__read-more">Read More</a>
</article>
