<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__nav__links
                    footer__nav__links--left">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>

    <img class="footer__logo" src="#" alt="Home">

    <ul class="footer__nav__links
                    footer__nav__links--right">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </nav>
</footer>
