<header class="header">
  <nav class="top-bar">
    <ul class="top-bar__links">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </nav>

  <nav class="nav">
    <ul class="nav__links">
      <li><a href="/">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Portfolio</a></li>
    </ul>

    <a href="#" class="header__logo"><img src="/assets/images/logo.svg" alt="Home"></a>

    <ul class="nav__links">
      <li><a href="#">Shop</a></li>
      <li><a href="#">Freebies</a></li>
      <li><a href="#">Newsletter</a></li>
      <!--li><a href="#" class="social-media-icon"><i title="instagram">I</i></a></li-->
    </ul>
  </nav>

</header>
