<section class="instagram-reel">

  <h3 class="instagram-reel__title">Instagram reel</h3>

  <a href="#" class="instagram-reel__follow-link">Follow <strong>@botanybrights</strong></a>

  <div class="instagram-reel__highlights">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
  </div>

</section>
