<form class="newsletter">
  <h2 class="newsletter__title">Newsletter</h2>
  <p class="newsletter__description">Subscribe for something and sometthing</p>
  <label class="newsletter__name-label" for="newsletter-name">First name</label>
  <input class="newsletter__input
                       newsletter__input--name"
         id="newsletter-name"
         type="text"
         placeholder="First name">
  <label class="newsletter__email-label" for="newsletter-email">Email</label>
  <input class="newsletter__input
                       newsletter__input--email"
         id="newsletter-email"
         type="text"
         placeholder="Email">
  <button class="newsletter__subscribe"
          type="submit">Subscribe</button>
</form>

