<blockquote class="quote">
  <p class="quote__text">If we could see the miracle of a single flower clearly, our whole life would change</p>
  <div class="quote__author">- <cite>Buddha</cite></div>
</blockquote>
