<aside class="sidebar">
  <header class="sidebar__site-intro">
    <img class="sidebar__site-intro__featured" src="#" alt="">
    <h2 class="sidebar__site-intro__title" >hello & welcome!</h2>
    <p class="sidebar__site-intro__message">Botany Brights is a happy little place on the internet where we celebrate the miracle of a single flower. Art is something to be experienced in the present. Outside of our goals and ambitions.</p>
  </header>

  {% include newsletter-signup.html %}

  <section class="archive">

    <img class="archive__featured" src="#" alt="">

    <h2 class="archive__title">Archive</h2>

    <ul class="archive__posts">
      <li class="archive__posts__link"><a href="#">Link</a></li>
      <li class="archive__posts__link"><a href="#">Link</a></li>
      <li class="archive__posts__link"><a href="#">Link</a></li>
      <li class="archive__posts__link"><a href="#">Link</a></li>
      <li class="archive__posts__link"><a href="#">Link</a></li>
      <li class="archive__posts__link"><a href="#">Link</a></li>
      <li class="archive__posts__link"><a href="#">Link</a></li>
    </ul>
  </section>
</aside>
