.header {
  box-shadow: rgba(0,0,0,.2) 0 2px 4px;
  margin-bottom: 2rem;
  position: relative;
  &__logo {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    & img {
      width: 80px;
      padding: 1rem 0;
    }
  }
}

.nav, .nav__links {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.top-bar__links, .nav__links {
& li {
    & a {
      text-decoration: none;
      padding: .5rem;
      text-transform: uppercase;
      font-size: .7rem;
      line-height: 2rem;
      color: #262626;
      &:hover {
        text-decoration: underline wavy .05rem #FF8A6C;
      }
    }
  }
}

.top-bar__links li a:hover {
  text-decoration-color: #262626;
}

.top-bar__links {
  background-color: #FFCF00;
  text-align: center;
  & li { display: inline-block; }
}

.nav {
  justify-content: space-between;
  height: 6rem;
}
