.quote {
  font-family: 'Cookie', cursive;
  font-style: italic;
  max-width: 400px;
  text-align: center;
  margin: 5rem auto;
  &__text {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #D0F4EF;
    text-decoration-thickness: 50%;
    text-decoration-skip-ink: none;
    text-underline-offset: -.2rem;
    letter-spacing: .1rem;
  }
  &__author {
    font-size: 1.5rem;
    text-align: right;
  }
}
