<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <meta name="author" content="Becca Williams, Botany Brights">
    <meta name="description" content="Botany Brights is a happy little place on the internet where we celebrate the miracle of a single flower. Art is something to be experienced in the present, outside of our goals and ambitions">
    <meta name="keywords" content="botanical art, botanical illustration, art, projects, tutorials">
    

    <title>{{ page.title }}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    {% include header.html %}

    <main class="main-content">

      {{ content }}

    </main>

  </body>
</html>
